* {
    box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6 , p {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 700;
    font-size: 24px;
}

p {
    font-weight: 400;
    font-size: 16px;
}

body {
    background-color:  #0A2239;
}

.page-wrapper {
    margin: 40px 24px;
}

.text-white {
    color: #fff;
}

.text-gold {
    color: #D3924A;
}

.mt-6 {
    margin-top: 6px;
}

.mb-14 {
    margin-bottom: 14px;
}

.mb-20 {
    margin-bottom: 20px;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.cv-form {
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 24px;
}

.cv-form label {
    font-weight: 500;
    font-size: 14px;
}

.cv-form input[type="text"],
.cv-form input[type="number"],
.cv-form input[type="email"],
.cv-form textarea
{
    border: 2px solid #CE791B;
    border-radius: 6px;
    padding: 16px 8px;
    color: #5A5858;
    font-weight: 400;
    font-size: 16px;  
}

.cv-form input[type="file"] {
    color: #A69C9C;
    font-size: 14px;
}

.btn {
    padding: 12px 32px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary {
    color: #FFF6F1;
    background-color: #CE791B;
    border: 1px solid #CE791B;
}